# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*
*.db

UnitTest/WEBPAGES_SIMPLE/
WEBPAGES_RAW/*
UnitTest/WEBPAGES_RAW/*
UnitTest/UnitTest.pro.user.orig
e8yesearch.pro.user.orig
